:root {
  --groceries-background-color: #c4faf8;
  --rent-background-color: #aff8db;
  --debt-background-color: #85e3ff;
  --dining-background-color: #ace7ff;
  --subscriptions-background-color: #6eb5ff;
  --transportation-background-color: #afcbff;
  --shopping-background-color: #97a2ff;
  --phone-background-color: #bffcc6;
  --savings-background-color: #e7ffac;
  --others-background-color: #ffccf9;
}

.CategoryCard {
  color: #252525;
  flex: 1 0 150px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
}

.CategoryCard:hover {
  cursor: pointer;
}

.selected {
  border: 2px solid white;
}

.groceries-category {
  background: var(--groceries-background-color);
}
.rent-category {
  background: var(--rent-background-color);
}
.debt-category {
  background: var(--debt-background-color);
}
.dining-category {
  background: var(--dining-background-color);
}
.subscriptions-category {
  background: var(--subscriptions-background-color);
}
.transportation-category {
  background: var(--transportation-background-color);
}
.shopping-category {
  background: var(--shopping-background-color);
}
.phone-category {
  background: var(--phone-background-color);
}
.savings-category {
  background: var(--savings-background-color);
}
.others-category {
  background: var(--others-background-color);
}
