:root {
  --border-radius: 10px;
}

button {
  cursor: pointer;
}

.App {
  width: 90%;
  max-width: 1400px;
  max-height: 100vh;
  margin: auto;
  margin-top: 30px;
  background-color: #404040;
  padding: 30px 40px 50px;
  color: white;
  text-align: center;
  border-radius: var(--border-radius);
}

.main-content {
  display: flex;
  gap: 20px;
}

.main-left {
  min-width: 400px;
}

.main-divider {
  width: 1px;
  background-color: #a2a2a2;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 50vh;
}

.upload--form {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  background-color: #707070;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: var(--border-radius);
  margin-block: 15px;
}

input[type="file"] {
  display: none;
}

.input--text {
  text-decoration: underline;
}

.input--text:hover {
  cursor: pointer;
}

.submit--button {
  border-radius: 5px;
  border: none;
  width: 150px;
  background: #c7e372;
  font-weight: bold;
  margin-top: 15px;
  height: 35px;
}

.category--cards--container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
  margin-block: 15px;
}
